<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a href="/" class="navbar-brand">Logger</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        @if (Request.IsAuthenticated){
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#" class="nav-link">My Categories</a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link">Logs</a>
            </li>
        </ul>
        }
        </div>
    @Html.Partial("_LoginPartial")
</nav>

