
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="title">Details</h2>

<button id="addLog"class="btn btn-success">Create Logs</button>

@section scripts{
    <script>
        $(document).ready(function () {
            var categoryId = @(ViewContext.RouteData.Values["id"]);

            var categoryName;

            $.ajax({
                url: "/api/categories/" + categoryId,
                success: function (data) {
                    categoryName = data.categoryName
                }
            })

            $("#addLog").click(function () {
                window.location.replace("/MyLogs/Create?categoryName=" + categoryName);
            });


        });
    </script>
    
    
}