
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="title">Details</h2>

<button id="addLog"class="btn btn-success mt-2 mb-5">Create Logs</button>

<table id="logs" class="table table-striped">
    <thead class="thead-light">
        <th>Log Date</th>
        <th class="w-10">Delete</th class="w-10">
    </thead>

    <tbody>

    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var categoryId = @(ViewContext.RouteData.Values["id"]);


            var table = $("#logs").DataTable({
                ajax: {
                    url: "/api/myLogs?categoryId="+categoryId,
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "logDate"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-log-id='" + data + "' class='btn btn-danger js-delete'>Delete</button>"
                        }

                    }
                ]
            });


            $("#logs").on("click", '.js-delete', function () {
                var button = $(this);
                bootbox.confirm("Delete this log ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/myLogs/" + button.attr("data-log-id"),
                            method: "DELETE",
                            success: function () {
                                toastr.success("Log Successfully Discarded");
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            });

        $("#addLog").click(function () {
                window.location.replace("/MyLogs/Create");
            });




        });
    </script>
    
    
}