
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logs</h2>
<div id="logCategories" class="container d-flex pt-5" >
   
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/api/categories",
                type: "get",
                success: function (data) {
                    $.each(data, function (index, category) {
                        var a = ' <div class="card w-25 mr-4 logLink"><div class="card-header">' + category.categoryName +'</div><div class="card-body">aaa</div></div>'
                        $("#logCategories").append(a)
                    })
                }
            })


        });


    </script>
}

