
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logs</h2>
<button id="addLog" class="btn btn-success mt-2 mb-2">Create Logs</button>
<div id="logCategories" class="container d-flex pt-5" >
   
</div>


@section scripts{
    <script>
        $(document).ready(function () {

            $.ajax({
                url: "/api/categories",
                type: "get",
                success: function (data) {
                    $.each(data, function (index, category) {
                        var a = ' <div class="card w-25 mr-4 "><div class="card-header">' + category.categoryName + '</div><div class="card-body"><button data-category-id=' + category.id +' class="btn logLink btn-primary">aaa</button></div></div > '
                        $("#logCategories").append(a);
                    });
                }
            });

            $("#logCategories").on("click", '.logLink', function () {
                var button = $(this);
                window.location.replace("/MyLogs/Details/" + button.attr("data-category-id"));

            });


        });


    </script>
}

